<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Petasos API - Documentation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
	<link rel="shortcut icon" href="images/mexfavicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div id="colorlib-logo"><a href="index.html">Petasos API</a></div>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<li class="active"><a href="index.html">Documentation</a></li>
								<li><a href="#">GitHub</a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<section id="home" class="video-hero" style="height: 700px; background-image: url(images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
		<div class="overlay"></div>
			<a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=vqqt5p0q-eU',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a> 
			<div class="display-t text-center">
				<div class="display-tc">
					<div class="container">
						<div class="col-md-12 col-md-offset-0">
							<div class="animate-box">
								<h2>Petasos:: RESTful API</h2>
								<p>PRIVATE DATASET FOR DATA ANALYSIS AND VISUALIZATION PROJECTS</p>
								<p><a href="#" class="btn btn-primary btn-lg btn-custom">Go to Mercury Dashboard</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="colorlib-featured">
			<div class="row animate-box">
				<div class="featured-wrap">
					<div class="owl-carousel">
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="images/dashboard_full_1.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="images/dashboard_full_2.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="images/dashboard_full_3.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-services colorlib-bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-earth"></i>
							</span>
							<div class="desc">
								<h3>Destination Data</h3>
								<p>>_ Destination Name</br>>_ HD Banner Image URL</br>>_ Current Local Time</br>>_ Weather Data</br>>_ Currency Code/Symbol</br>>_ ITU Country Code</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-binoculars"></i>
							</span>
							<div class="desc">
								<h3>Location Data</h3>
								<p>>_ Location Name</br>>_ HD Banner Image URL</br>>_ About Text/Description Data</br>>_ Website URL</br>>_ Phone Number</br>>_ Email Address</br>>_ Place Type</br>>_ Relational Destination ID/Name</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-terminal"></i>
							</span>
							<div class="desc">
								<h3>Agnostic JSON Responses</h3>
								<p>{
    "destinations": [
        {&nbsp;
      </br> "name": "Florence",
			"bannerimg_url":"string",
			"time_url":"string",
			"weather_url": "string",
			"currency": "string",
			"itu_countrycode": integer
			"destination_id": integer
            "places": [{"name": "Palazzo Medici Riccardi",
					"bannerimg_url": "string",
					"abouttext": "string",
					"placetype":"string",...}]
					}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
						<h2>Built on a secure PostgreSQL DB</h2>
						<p style="text-align:justify">Petasos /peh· tuh· zowz/ is a bespoke Flask-RESTful microservice built to receive destination or place data requests from an authenticated client (mobile, web, hybrid, OS, Embedded) application and return appropriate response results pertinent to the client HTTP request method - DB data privately curated from destination cities & places of interest across the globe.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<span class="play"><a href="#" class="pulse popup-vimeo"><i class="icon-play3"></i></a></span>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-work-featured colorlib-bg-white">
			<div class="container">
				<div class="row mobile-wrap">
					<div class="col-md-5 animate-box">
						<div class="mobile-img" style="background-image: url(images/hermesscreenshot.png);"></div>
					</div>
					<div class="col-md-7 animate-box">
						<div class="desc">
							<h2>Petasos API Endpoints</h2>
							<div class="features">
								<span class="icon"><i class="icon-terminal"></i></span>
								<div class="f-desc">
									<p style="color:#003265; font-weight:700;">GET, POST, PUT, DELETE HTTP request method(s)</p>
									<p><a style="color:#003265; font-weight:400;">/destination/string:name</a> GET, POST, PUT, DELETE</br><a style="color:#003265; font-weight:400;">/place/string:name</a> GET, POST, PUT, DELETE</br><a style="color:#003265; font-weight:400;">/destinations</a> GET only</br><a style="color:#003265; font-weight:400;">/places</a> GET only</br><a style="color:#003265; font-weight:400;">/destinationnames</a> GET only</p>
								</div>
							</div>
							<div class="features">
								<span class="icon"><i class="icon-download2"></i></span>
								<div class="f-desc">
								<p style="color:#003265; font-weight:700;">JSON OBJECT RESPONSES</p>
									<p style="text-align:justify">Respective endpoints return a variety of mutable JSON objects containing all the Petasos destinations data on the Hermes-Venus PostgreSQL database, including associated places information as well as place type, currency and current weather &#8451; for data filtering</p>
								</div>
							</div>
							<div class="features">
								<span class="icon"><i class="icon-key2"></i></span>
								<div class="f-desc">
								<p style="color:#003265; font-weight:700;">JWT AUTHENTICATION ENABLED</p>
									<p style="text-align:justify">JSON Web Tokens implemented to facilitate secure API User Authentication and Log In</p>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="row mobile-wrap">
					<div class="col-md-5 col-md-push-7 animate-box">
						<div class="mobile-img" style="background-image: url(images/fetchresults.png);"></div>
					</div>
					<div class="col-md-7 col-md-pull-5 animate-box">
						<div class="desc">
							<h2>Required JSON Arguments</h2>
							<div class="features">
								<span class="icon"><i class="icon-earth"></i></span>
								<div class="f-desc">
								<p style="color:#003265; font-weight:700;">DESTINATION DATA REQUESTS</p>
									<p>>_ bannerimg_url:<em>string</em></br>>_ currency:<em>string</em></br>>_ itu_countrycode:<em>integer</em></p>
								</div>
							</div>
							<div class="features">
								<span class="icon"><i class="icon-binoculars"></i></span>
								<div class="f-desc">
								<p style="color:#003265; font-weight:700;">PLACES DATA REQUESTS</p>
									<p>>_ bannerimg_url:<em>string</em></br>>_ abouttext:<em>string</em></br>>_ website_url:<em>string</em></br>>_ phone_number:<em>integer</em></br>>_ email_address:<em>string</em></br>>_ placetype:<em>string</em><br>>_ destination_name:<em>string</em></p>
								</div>
							</div>
							<div class="features">
								<span class="icon"><i class="icon-users"></i></span>
								<div class="f-desc">
								<p style="color:#003265; font-weight:700;">USER REGISTRATION REQUESTS</p>
									<p>>_ username:<em>string</em></br>>_ password:<em>string</em></br>>_ petasos_passkey:<em>integer</em></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		

	

		<footer id="colorlib-footer">
			<div class="copy">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								 <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<a style="color:#ffffff" href="https://www.emekaegwim.com" target="_blank">EMEKA EGWIM </a>| &copy;<script>document.write(new Date().getFullYear());</script>    <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><br> 
								
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- YTPlayer -->
	<script src="js/jquery.mb.YTPlayer.min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

